<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matcha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,100' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/close.css" rel="stylesheet">
    <style>
    #feedback {
    	color: #1c6107;
    }
    #feedback ul {
    	padding-left: 0;
    }
    #feedback ul li {
    	list-style: none;
    }
    </style>
</head>
<body>
