<% include partials/header %>
<header class="main__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-center navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/home">Home</a></li>
          <li class="active"><a href="/login">Login</a></li>
          <li><a href="/sign_up">Sign Up</a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <h1 class="navbar-brand"  style="background: transparent"><a href="/">Matcha</a></h1>
      </div>
    </nav>
  </div>
</header>
<section class="main__middle__container">
  <section class="recent-posts">
    <div class="container">
      <h2 class="text-center with__margin"><span style="background: #F9F7F7">Recover Password</span></h2>
      <div class="row">
        <div class="col-md-8 sign">
					<ul>
            <% if(message == "hello"){%>
            <li style="display: none"><%= message %></li>
          <%}else if (message == "Verify"){%>
            <li>Please verify, <a href="http://localhost:3000/resend">click here</a> to resend the link<span class="close">x</span></li>
          <%} else {%>
            <li> <%= message %><span class="close">x</span></li>
          <%}%>
          </ul>
          <form role="form" id="contact-form" name="contact-form" method="post" action="/forgot" class="contact-form">
						<div class="form-group col-md-6">
							<label  for="email">Email</label>
							<input required type="email" class="form-control" id="email" name="email">
						</div>
            <br>
            <input id="submit-button" type="submit" class="btn btn-lg btn-info" value="Reset Password">
          </form>
        </div>
      </div>
    </div>
  </section>
</section>
<footer style="margin-top: 160px">
  <div class="copy">
    <p class="text-center">&copy; Copyright Matcha. All Rights Reserved.</p>
  </div>
</footer>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/close.js"></script>
</body>
</html>
