<% include ./partials/header %>
<header class="main__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-center navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/home">Home</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <h1 class="navbar-brand"  style="background: transparent"><a href="/">Home</a></h1>
      </div>
    </nav>

    <% for(var i=0; i < match.length; i++){%>
      <p><%= match[i]%></p>
    <%}%>
  </div>
</header>
</body>
</html>
