<% include partials/header %>
<header class="main__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-center navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/sign_up">Sign Up</a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <h1 class="navbar-brand"  style="background: transparent"><a href="/">Matcha</a></h1>
      </div>
    </nav>
  </div>
</header>
<section class="slider">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item"> <img data-src="images/slider/slider1.jpg" alt="First slide" src="images/slider/slider1.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1><span>You deserve</span> love and you will get it </h1>
            <p>Every love story begin with a greeting. </p>
            <p><a class="btn btn-default" href="/sign_up" role="button">Get Started</a></p>
          </div>
        </div>
      </div>
      <div class="item active"> <img data-src="images/slider/slider2.jpg" alt="Second slide" src="images/slider/slider2.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Something tells me you are going to find <span>the one</span> </h1>
            <p>We are going to put an everyday smile on your face.</p>
            <p><a class="btn btn-default" href="/sign_up" role="button">get started</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon carousel-control-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon carousel-control-right"></span></a> </div>
</section>
<footer>
  <div class="copy">
    <p class="text-center">&copy; Copyright Matcha. All Rights Reserved.</p>
  </div>
</footer>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">

$('.carousel').carousel({
  interval: 3500,
  pause: 'none'
})

</script>
</body>
</html>
