<% include ./partials/header %>
<header class="main__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-center navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li class="active"><a href="/settings">Settings</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <h1 class="navbar-brand"  style="background: transparent"><a href="/welcome">Settings</a></h1>
      </div>
    </nav>
    <form role="form" id="contact-form" name="contact-form" method="post" action="/setup" class="contact-form">
      <div >
        <h3 style="background: transparent; text-align: center;"> User Information</h3>
      </div>
      <div class="form-group col-md-6">
        <label  for="firstname">First Name</label>
        <input required type="text" class="form-control" id="firstname" name="firstname" value=<%= user.firstname %>>
      </div>
      <div class="form-group col-md-6">
        <label  for="lastname">Last Name</label>
        <input required type="text" class="form-control" id="lastname" name="lastname" value=<%= user.lastname %>>
      </div>
      <div class="form-group col-md-6">
        <label  for="email">Email</label>
        <input required type="text" class="form-control" id="email" name="email" value=<%= user.email %>>
      </div>
      <div class="form-group col-md-6">
        <label  for="username">Username</label>
        <input required type="text" class="form-control" id="username" name="username" readonly value=<%= user.username %> >
      </div>

      <%if (user.gender === "Both") { %>
      <div class="form-group col-md-6">
      <label for="genderPreference">Gender Preference</label>
      <select class="form-control col-md-6" id="genderPreference" name="genderPreference">
        <option value="Both">Choose...</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option selected  value="Both">Both</option>
      </select>
    </div>
    <%} else if (user.gender === "Male") {%>
    <div class="form-group col-md-6">
        <label for="genderPreference">Gender Preference</label>
        <select class="form-control col-md-6" id="genderPreference" name="genderPreference">
            <option value="Both">Choose...</option>
            <option selected  value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Both">Both</option>
        </select>
    </div>
    <%} else {%>
    <div class="form-group col-md-6">
        <label for="genderPreference">Gender Preference</label>
        <select class="form-control col-md-6" id="genderPreference" name="genderPreference">
            <option value="Both">Choose...</option>
            <option value="Male">Male</option>
            <option selected value="Female">Female</option>
            <option value="Both">Both</option>
        </select>
    </div>
    <%}%>


    <div class="form-group col-md-6">
      <label for="gender">Gender</label>
      <select class="form-control col-md-6" id="gender" name="gender">
        <option selected value="Other">Choose...</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
      <div >
        <h3  style="background: transparent; text-align: center;"> Select Interests</h3>
      </div>
      <div class="form-group col-md-4">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="LP">
        <label class="form-check-label" for="exampleCheck1">Live Perfomances</label>
      </div>
      <div class="form-group col-md-4">
        <input type="checkbox" class="form-check-input" id="exampleCheck3" name="NO">
        <label class="form-check-label" for="exampleCheck3">Nature Outdoor</label>
      </div>

      <div class="form-group col-md-4">
        <input type="checkbox" class="form-check-input" id="exampleCheck2" name="LW">
        <label class="form-check-label" for="exampleCheck2">Long Walks</label>
      </div>
      <div class="form-group col-md-4">
        <input type="checkbox" class="form-check-input" id="exampleCheck4" name="SE">
        <label class="form-check-label" for="exampleCheck4">Sports Events</label>
      </div>

      <div class="form-group col-md-4">
        <input type="checkbox" class="form-check-input" id="exampleCheck5" name="MV">
        <label class="form-check-label" for="exampleCheck5">Movies</label>
      </div>
      <div class="form-group col-md-4">
        <input type="checkbox" class="form-check-input" id="exampleCheck6" name="RD">
        <label class="form-check-label" for="exampleCheck6">Reading</label>
      </div>
      <input id="submit-button" type="submit" class="btn btn-lg btn-info" value="Save Changes">
    </form>
  </div>
</header>
</body>
</html>
