<% include ./partials/header %>
<header class="main__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-center navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li class="active"><a href="/settings">Settings</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <h1 class="navbar-brand"  style="background: transparent"><a href="/welcome">Settings</a></h1>
      </div>
    </nav>
    <form role="form" id="contact-form" name="contact-form" method="post" action="/setup" class="contact-form">
      <div >
        <h3 style="background: transparent; text-align: center;"> User Information</h3>
      </div>
      <div class="form-group col-md-6">
        <label  for="firstname" style="color: black;">First Name</label>
        <input required type="text" class="form-control" id="firstname" name="firstname" value=<%= user.firstname %>>
      </div>
      <div class="form-group col-md-6">
        <label  for="lastname" style="color: black;">Last Name</label>
        <input required type="text" class="form-control" id="lastname" name="lastname" value=<%= user.lastname %>>
      </div>
      <div class="form-group col-md-6">
        <label  for="email" style="color: black;">Email</label>
        <input required type="text" class="form-control" id="email" name="email" value=<%= user.email %>>
      </div>
      <div class="form-group col-md-6">
        <label  for="username" style="color: black;">Username</label>
        <input required type="text" class="form-control" id="username" name="username" readonly value=<%= user.username %> >
      </div>

      <%if (user.genderPreference === "Both") { %>
        <div class="form-group col-md-6">
          <label for="genderPreference" style="color: black;">Gender Preference</label>
          <select class="form-control col-md-6" id="genderPreference" name="genderPreference">
            <option value="Both">Choose...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option selected  value="Both">Both</option>
          </select>
        </div>
    <%} else if (user.genderPreference === "Male") {%>
      <div class="form-group col-md-6">
        <label for="genderPreference" style="color: black;">Gender Preference</label>
        <select class="form-control col-md-6" id="genderPreference" name="genderPreference">
          <option value="Both">Choose...</option>
          <option selected  value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Both">Both</option>
        </select>
      </div>
    <%} else {%>
      <div class="form-group col-md-6">
        <label for="genderPreference" style="color: black;">Gender Preference</label>
        <select class="form-control col-md-6" id="genderPreference" name="genderPreference">
          <option value="Both">Choose...</option>
          <option value="Male">Male</option>
          <option selected value="Female">Female</option>
          <option value="Both">Both</option>
        </select>
      </div>
    <%}%>

    <%if (user.gender === "Other") { %>
      <div class="form-group col-md-6">
        <label for="gender" style="color: black;">Gender</label>
        <select class="form-control col-md-6" id="gender" name="gender">
          <option  value="Other">Choose...</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option selected value="Other">Other</option>
        </select>
      </div>
    <%} else if (user.gender === "Male") {%>
      <div class="form-group col-md-6">
        <label for="gender" style="color: black;">Gender</label>
        <select class="form-control col-md-6" id="gender" name="gender">
          <option value="Other">Choose...</option>
          <option selected value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
    <%} else {%>
      <div class="form-group col-md-6">
        <label for="gender" style="color: black;">Gender</label>
        <select class="form-control col-md-6" id="gender" name="gender">
          <option value="Other">Choose...</option>
          <option value="Male">Male</option>
          <option selected value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
    <%}%>

      <div >
        <h3  style="background: transparent; text-align: center;"> Select Interests</h3>
      </div>
    <% if (user.LP === "on") {%>
      <div class="form-group col-md-4">
        <input type="hidden" id="LPHidden" name="LP" value="off" disabled>
        <input type="checkbox" class="form-check-input" id="LPCheck" name="LP" value="on" checked onclick="CkeckLP();">
        <label class="form-check-label" for="LPCheck" style="color: black;">Live Perfomances</label>
      </div>
    <%} else {%>
      <div class="form-group col-md-4">
        <input type="hidden" id="LPHidden" name="LP" value="off" disabled>
        <input type="checkbox" class="form-check-input" id="LPCheck" name="LP" value="on" onclick="CkeckLP();">
        <label class="form-check-label" for="LPCheck" style="color: black;">Live Perfomances</label>
      </div>
    <%}%>

    <% if (user.NO === "on") {%>
      <div class="form-group col-md-4">
        <input type="hidden" id="NOHidden" name="NO" value="off" disabled>
        <input type="checkbox" class="form-check-input" id="NOCheck" name="NO" value="on" checked onclick="CkeckNO();">
        <label class="form-check-label" for="NOCheck" style="color: black;">Nature Outdoor</label>
      </div>
    <%} else {%>
      <div class="form-group col-md-4">
        <input type="hidden" id="NOHidden" name="NO" value="off" disabled>
        <input type="checkbox" class="form-check-input" id="NOCheck" name="NO" value="on" onclick="CkeckNO();">
        <label class="form-check-label" for="NOCheck" style="color: black;">Nature Outdoor</label>
      </div>
    <%}%>

    <% if (user.LW === "on") {%>
      <div class="form-group col-md-4">
        <input type="hidden" id="LWHidden" name="LW" value="off" disabled>
        <input type="checkbox" class="form-check-input" id="LWCheck" name="LW" checked onclick="CkeckLW();"/>
        <label class="form-check-label" for="LWCheck" style="color: black;">Long Walks</label>
      </div>
    <%} else {%>
      <div class="form-group col-md-4">
        <input type="hidden" id="LWHidden" name="LW" value="off" disabled>
        <input type="checkbox" class="form-check-input" id="LWCheck" name="LW" onclick="CkeckLW();"/>
        <label class="form-check-label" for="LWCheck" style="color: black;">Long Walks</label>
      </div>
    <%}%>

    <% if (user.SE === "on") {%>
      <div class="form-group col-md-4">
        <input type="hidden" id="SEHidden" name="SE" value="off" disabled>
        <input type="checkbox" class="form-check-input" id="SECheck" name="SE" checked onclick="CkeckSE();"/>
        <label class="form-check-label" for="SECheck" style="color: black;">Sports Events</label>
      </div>
    <%} else {%>
      <div class="form-group col-md-4">
        <input type="hidden" id="SEHidden" name="SE" value="off" disabled>
        <input type="checkbox" class="form-check-input" id="SECheck" name="SE" onclick="CkeckSE();"/>
        <label class="form-check-label" for="SECheck" style="color: black;">Sports Events</label>
      </div>
    <%}%>

    <% if (user.MV === "on") {%>
      <div class="form-group col-md-4">
        <input type="hidden" id="MVHidden" name="MV" value="off" disabled>
        <input type="checkbox" class="form-check-input" id="MVCheck" name="MV" checked onclick="CkeckMV();"/>
        <label class="form-check-label" for="MVCheck" style="color: black;">Movies</label>
      </div>
    <%} else {%>
      <div class="form-group col-md-4">
        <input type="hidden" id="MVHidden" name="MV" value="off" disabled>
        <input type="checkbox" class="form-check-input" id="MVCheck" name="MV" onclick="CkeckMV();"/>
        <label class="form-check-label" for="MVCheck" style="color: black;">Movies</label>
      </div>
    <%}%>

    <% if (user.RD === "on") {%>
      <div class="form-group col-md-4">
        <input type="hidden" id="RDHidden" name="RD" value="off" disabled>
        <input type="checkbox" class="form-check-input" id="RDCheck" name="RD" checked onclick="CkeckRD();"/>
        <label class="form-check-label" for="RDCheck" style="color: black;">Reading</label>
      </div>
    <%} else {%>
      <div class="form-group col-md-4">
        <input type="hidden" id="RDHidden" name="RD" value="off" disabled>
        <input type="checkbox" class="form-check-input" id="RDCheck" name="RD" onclick="CkeckRD();"/>
        <label class="form-check-label" for="RDCheck" style="color: black;">Reading</label>
      </div>
    <%}%>

    <div>
      <h3  style="background: transparent; text-align: center;"> Select Images</h3>
    </div>

    <div class="form-group col-md-12">
      <input type="file" class="form-control" id="img" name="images" accept="image/*" multiple>    
    </div>
    

      <input id="submit-button" type="submit" class="btn btn-lg btn-info" value="Save Changes">
    </form>
  </div>
</header>
<footer>
  <div class="copy">
    <p class="text-center">&copy; Copyright Matcha. All Rights Reserved.</p>
  </div>
</footer>

<script src="js/interests.js"></script>
</body>
</html>
